/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 body {
  font-family:Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  background-color: #813030e3; 
  color: #333; 
  margin: 0;
  padding: 20px;
  text-align: center;
}
 .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    text-align: center;
    flex-direction: column;
  }
  table {
    width: 40%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
  }
  
  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    background-color: #f4f4f4;
  }


  .asc{
    background-color: rgba(20, 205, 47, 0.585);
  }
  
  .desc{
    background-color: rgba(197, 27, 27, 0.696);
  }